* {
	box-sizing: border-box;
	font-weight: 300;
}
html {
	font-size: 62.5%;
}
.heading {
	font-size: 5.2rem;
	text-align: center;
}
.main {
	border-width: 2px 0;
	display: flex;
	flex-wrap: wrap;
}
.row {
	display: flex;
}
.title {
	font-size: 3rem;
	text-align: center;
}
.description {
	font-size: 	1.6rem;
}
.col-1 {
	flex: 1;
	padding: 0 1rem;
}
.main > * {
	border: 1px solid #000;
	border-right: none;
}
.border-right {
	border-right: 1px solid #000;
}
.col-2 {
	flex: 2;
	padding: 0 1rem;
}
img {
	width: 100%;
}
.col-3 {
	flex: 3;
}
.last {
	display: flex;
	flex-direction: column;
}
.last > * {
	flex: 1;
}
.last a {
	color: #666;
	text-decoration: none;
	font-size: 3rem;
}
.last a:hover {
	text-decoration: underline;
}
.last div {
	display: flex;
	align-items: center;
	padding-left: 3rem;
}
